page-home {
  .map_container {
    width: 100%;
    height: 100%;
  }
  .searchBar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .position-btn {
    position: absolute;
    left: 5px;
    bottom: 50px;
    z-index: 1;
    font-size: 22px;
    padding: 3px 5px 0 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #666;
  }
}

